<header>
    <nav class="navbar navbar-expand-lg bg-gray-300">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                RollDice {{ random(['html', 'css', 'js']) }}
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Domů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pravidla</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Hledat" aria-label="Hledat">
                    <button class="btn btn-outline-success" type="submit">Hledat</button>
                </form>
            </div>
        </div>
    </nav>
</header>
