{% extends 'base.twig' %}

{% block body %}
    <div>
        {% include 'header.twig' %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="py-8">
                        <h1 class="text-center mb-8">
                            RollDiceJS
                        </h1>
                        <div class="row">
                            <div class="col-12">
                                <div class="row mb-8">
                                    <div class="col-sm-4 text-center py-2">
                                        <button data-new-game type="button" class="btn btn-danger">Nová hra</button>
                                    </div>
                                    <div class="col-sm-4 text-center py-2">
                                        <button data-roll type="button" class="btn btn-warning">Hodit kostkou</button>
                                    </div>
                                    <div class="col-sm-4 text-center py-2">
                                        <button data-save-points type="button" class="btn btn-info">Ukončit tah</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 d-flex">
                                <div data-player class="b-player card testimonial-card position-relative">
                                    <span data-active-badge class="d-none position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                                        Na tahu
                                    </span>
                                    <div class="card-body">
                                        <h2 class="mb-4 h3" data-name>Hráč 1</h2>
                                        <hr />
                                        <p class="dark-grey-text mt-4">
                                            Aktuální skóre: <span data-score>0</span>
                                        </p>
                                        <hr>
                                        <h3 class="dark-grey-text h5 mt-4 mb-0">
                                            Skóre: <span data-score-total>0</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 text-center d-flex">
                                <div class="c-dice py-8">
                                    <div data-dice class="b-dice"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 text-end d-flex">
                                <div data-player class="b-player card testimonial-card">
                                    <span data-active-badge class="d-none position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                                        Na tahu
                                    </span>
                                    <div class="card-body">
                                        <h2 class="mb-4 h3" data-name>Hráč 2</h2>
                                        <hr />
                                        <p class="dark-grey-text mt-4">
                                            Aktuální skóre: <span data-score>0</span>
                                        </p>
                                        <h3 class="dark-grey-text h5 mt-4 mb-0">
                                            Skóre: <span data-score-total>0</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" data-bs-title id="exampleModalLabel">
                            Informace
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div data-bs-text class="modal-body"></div>
                    <div class="modal-footer">
                        <button data-new-game type="button" data-bs-dismiss="modal" class="btn btn-danger">Nová hra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="js/index.js"></script>
{% endblock %}
